version: '2'

services:

    jekyll:
        image: codefordc2/housing-insights-jekyll
        command:
            - jekyll serve --watch --incremental
        volumes:
            - ./docs:/srv/jekyll
        ports:
            - "4000:4000"
    web:
        image: sosedoff/pgweb
        environment:
            - DATABASE_URL=postgres://codefordc:codefordc@postgres:5432/housinginsights_docker?sslmode=disable
        links:
            - postgres
        ports:
            - "8081:8081"
      
    postgres:
        image: codefordc2/housing-insights-postgres
        environment:
            - POSTGRES_PASSWORD=codefordc
            - POSTGRES_USER=codefordc
            - POSTGRES_DB=housinginsights_docker
        ports:
            - "5432:5432"
