#metric_menu{
  list-style: none;
  width: 20%;
}

#metric_menu h1{
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 3px;
  border: 1px solid black;
  margin-bottom: 0px;
  color: rgb(64, 180, 180);
}
.metric_option{
  border: 1px solid black;
  font-size: 1em;
  cursor: pointer;
  padding: 3px;
}

.d3-tip {
      line-height: 1;
      padding: 6px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 4px;
      font-size: 12px;

    }
  
    /* Style northward tooltips specifically */
    .d3-tip.n:after {
      margin: -2px 0 0 0;
      top: 100%;
      left: 0;
    }


rect:hover {
    fill: #bada33;
    fill-opacity: 1;
}

.d3-chart button {
  margin-right: 10px;
}