#temp-filter-menu {
    width: 100%;
    height: 100%;
    top: 100px;
    
    
}



/*Stuff for all filter components*/
.filter-group {
    border-bottom: 1px solid black;
}

.filter-label {
    font-weight: bold;
}

#temp-filter-menu h3 {
    margin-bottom:20px;
}
/*------------------------------*/
/*Override the nouiSlider styles*/

/*add enough space for tool tips*/
.noUi-target {
    margin: 45px 26px 20px 20px;
}

.categorical {
    margin-left: 12px;
    margin-bottom: 15px;
}

/*Make handles smaller*/
.noUi-horizontal {
  height: 18px;
}
.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 28px;
  left: -10px;
  top: -6px;
}
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 6px;
  top: 6px;
}
.noUi-handle:after {
  left: 10px;
}


/**/
