* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html, body { 
  margin:0; 
  padding:0; 
  height:100%; 
}

#main-nav {
    background-color: rgb(189, 54, 33);
    color:#fff;
    width: 100%;
    height: 40px;
    z-index: 9999;
    position: fixed;

}

#sub-nav {
    width: 100%;
    position:absolute;
    top: 40px;
    color: inherit;
    background-color: #d69c93;
    height: 40px;
    display: flex;
    justify-content: space-between;
    
}

.sub-nav-button {
    flex-grow: 1;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid rgb(189, 54, 33);
    transition: background-color 0.2s linear;
    cursor: pointer;
}

.sub-nav-container {
    position: relative; 
    margin-top: 40px;  
    display: none;
    overflow-y: auto;
    padding-top: 10px;
    
}

.sub-nav-container.active {
    display: flex;
    flex-direction: column;
}

#buildings-list {
    
    margin-top:105px;
}

#left-options .sub-nav-button {
    border-right: 2px solid rgb(189, 54, 33);
}


#right-options .sub-nav-button {
    border-left: 2px solid rgb(189, 54, 33);
}

.sub-nav-button.active {
    background-color: #fff;
    border-bottom-width: 0;
}

#left-options {
    width: 250px;
    display: flex;
}

#right-options {
    width: 350px;
    display: flex;
}

#options-spacer {
    flex-grow: 1;
    border-bottom: 2px solid rgb(189, 54, 33);
}

.main-view {
    width: 100%;
    transition: opacity 0.5s linear, transform 0.5s ease-in;
    opacity: 1;
    overflow: hidden;
}

.main-view:not(#map-view){
    position: relative;
    top:40px;
}

.main-view.fade {
    opacity: 0;
}

.main-view.inactive {
    visibility: hidden;
}

.main-view.transition-right {
    transform: translate(100%,0);
}

.main-view.transition-left {
    transform: translate(-100%,0);
}

.legend {
    background-color: rgba(255,255,255,.85);
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 260px;
    right: 360px;
    min-width: 235px;
}

#legend-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#legend-items div {
    width: 310px;
}

#legend-items div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
    }


.sidebar-inner-wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;    
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width:100%;
}

.sidebar-inner-wrapper:before {
    content: '';
    display: block;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    position: absolute;
        box-shadow: 0 8px 17px #fff;
    z-index: 99;
}


.sidebar-inner-wrapper > div {
    
    flex-grow: 1;
    
}

#pie-charts {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    box-shadow: 0 8px 17px #fff;
    background-color: #fff;
        top: 40px;
    padding-top: 10px;
}
    

}

#zone-selector {
    width: 120px;   
}

.sidebar {
    position: absolute;
    width: 100%;
    max-width: 250px;
    top: 80px;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(255,255,255,0.95 );
    transform: translate(-100%,0);
    transition: transform 0.2s linear;
    border-right: 1px solid rgb(189, 54, 33);

}
.sidebar.active {
    transform: translate(0,0) !important;
}

#sidebar-right {
    right:0;
    max-width: 350px;
    transform: translate(100%,0);
    border-right-width: 0;
    border-left: 1px solid rgb(189, 54, 33);
}

#buildings-list > div {
    
    overflow: hidden;
    transition: max-height 0.5s linear, margin-bottom 0.5s linear, opacity 0.5s linear;
    max-height: 0;
    margin-bottom: 0;
    opacity: 0;  
    cursor: pointer;
    
}

#buildings-list > div:hover p {
    font-weight: bold;
}
#buildings-list > div.enter, #buildings-list > div.update {
     margin-bottom: 10px;
     max-height: 100px;
     opacity: 1;
}
.sidebar-tab {
    width: 20px;
    height: 40px;
    position: absolute;
    border: none;
    position: absolute;    
    background-color: rgb(189, 54, 33);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s linear;
    z-index: 9999;

}

#sidebar-left .sidebar-tab {
    right: 0;
    transform: translate(20px,0);
}

#sidebar-right .sidebar-tab {
    left: 0;
    transform: translate(-20px,0);
}

.sidebar.active .sidebar-tab {
    transform: translate(0,0) !important;
}

.sidebar.active .triangle {
    transform: rotate(180deg);
}

.triangle {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;   
    border-bottom: 6px solid transparent;
    transition: transform 0.2s linear;
}

.triangle.right {
    border-left: 12px solid #fff;    
}

.triangle.left {
    border-right: 12px solid #fff;    
}

/*
 * MAPBOX
 */
 
 #map {
  position: absolute;
  width: 100%;
  top:80px;
  bottom:0;
 }

#layer-menu, #overlay-menu, #temp-filter-menu {
    background: inherit;
}


#layer-menu,#overlay-menu {
    width: 100%;
    }
#layer-menu a, #overlay-menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;    
    text-align: center;
}


a.unavailable {
    background-color: rgb(220,220,220);
    color: rgb(200, 200, 200);
}

a.active {
    background-color: #b3cde3;
}
#reset-zoom {
    display: none;
    position: absolute;
    right: 350px;
    top: 80px;
    border: none;
    background-color: rgba(0,0,0,0.3);
    padding: 3px;
}





/*copy-pasted from semantic ui so we can modify
Currently only used in layers but can be adapted to filters too
*/

/*Layer accordions (blue)*/
/* Normal */
.ui.styled.accordion .title.overlay-title {
  background:rgba(30, 92, 223,0.3);
  margin: 0em;
  padding: 0.5em 0.5em;
  color: rgba(0, 0, 30, 0.95);
  font-weight: bold;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}

/* Hover */

.ui.styled.accordion .title.overlay-title:hover {
  background: rgba(30, 92, 223,0.5);
  color: rgba(50, 50, 80, 0.95);
}

/* Active */

.ui.styled.accordion .active.title.overlay-title {
  background: rgba(24,100,178,0.7);
  color: rgba(0, 0, 30, 0.95);
}


/*Filter accordions (orange)*/
/* Normal */
.ui.styled.accordion .title.filter-title {
  background:rgba(253,126,35,0.3);
  margin: 0em;
  padding: 0.5em 0.5em;
  color: rgba(0, 0, 30, 0.95);
  font-weight: bold;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}

/* Hover */

.ui.styled.accordion .title.filter-title:hover {
  background: rgba(253,126,35,0.5);
  color: rgba(50, 50, 80, 0.95);
}

/* Active */

.ui.styled.accordion .active.title.filter-title {
  background:rgba(253,126,35,0.3);
  color: rgba(0, 0, 30, 0.95);
}

.ui.styled.accordion .title.filter-title.filter-activated,
.ui.styled.accordion .active.title.filter-title.filter-activated {
    background: rgba(234,100,2,0.7);
}
