# Note this should be synced with the environment.yml so that we can also run ingestion code on the server. 

click==6.7
Flask==0.12.1
Flask-Cors==3.0.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
psycopg2==2.7.1
SQLAlchemy==1.1.9
Werkzeug==0.12.1
simplejson==3.10.0
six==1.10.0
python-dateutil